#board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(20, 20px);
    justify-content: center;
    align-content: center;
}

.box {
    background: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#snake {
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
}
.snake {
    width: 15px;
    height: 15px;
    background: white;
}

#snake1 {
    width: 20px;
    height: 20px;
    background: red;
    position: relative;
    grid-column-start: 5;
    grid-row-start: 1;
}

#snack {
    height: 20px;
    width: 20px;
    background: black;
    position: relative;
    grid-column-start: 6;
    grid-row-start: 4;
}

.snack {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
}