#board {
    width: 450px;
    height: 450px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(20, 20px);
    justify-content: center;
    align-content: center;
}

.box {
    background: black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake-segment {
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
}

.body1 {
    background-color: red;
    grid-column-start: 1;
    grid-row-start: 1;
}

.body2 {
    grid-column-start: 2;
    grid-row-start: 1;
}
 
.body3 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.body4 {
    background-color: green;
    grid-column-start: 4;
    grid-row-start: 1;
}

.snake-block {
    width: 20px;
    height: 20px;
    background: white;
}



#food {
    height: 20px;
    width: 20px;
    background: black;
    position: relative;
    grid-column-start: 6;
    grid-row-start: 4;
}

.food {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}