#board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(20, 20px);
    grid-template-columns: repeat(20, 20px);
    justify-content: center;
    align-content: center;
    gap: 0.5px;
}

.box {
    background: black;
}

#snake {
    width: 20px;
    height: 20px;
    background: white;
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    
}
#snake1 {
    width: 20px;
    height: 20px;
    background: red;
    position: relative;
    grid-column-start: 5;
    grid-row-start: 1;
}